body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.highlight{
    color: rgb(240, 100, 0);
}
.half-width{
    width: 25%;
    margin: 5%;
    padding: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}